[Unit]
Description=Nitrox Dedicated Server
After=network.target

[Service]
Type=simple
User=nitrox-server
Group=nitrox-server
WorkingDirectory=/var/lib/nitrox-server
ExecStart=/var/lib/nitrox-server/nitrox-server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
